
<mat-toolbar color="primary">
    <button mat-raised-button color="primary">Primary</button>
    <span>OniiExpress</span>

      <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/dashboard/categorias">Categorias</button>
    <button mat-button routerLink="/dashboard/comparar">Categorias</button>
    <span class="example-spacer"></span>
    <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>logout</mat-icon>
        </button>
        
    </mat-toolbar>