<mat-toolbar>
  <span class="titulos">Listar Productos</span>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">LISTADO DE PRODUCTOS</span>
          <table
            *ngIf="listProductos.length > 0"
            class="table table-striped mt-3"
          >
            <thead>
              <tr>
                <th scope="col">Agregar</th>
                <th scope="col">Producto</th>
                <th scope="col">Categoria</th>
                <th scope="col">Precio</th>
                <th scope="col">Nota Media</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of listProductos">
                <td routerLink="producto/detail/{{producto._id}}"><span class="material-icons iconito">
                  add
                  </span></td>
                <td>{{ producto._NombreProducto }}</td>
                <td>{{ producto._CategoriaProducto }}</td>
                <td>{{ producto._Precio }}</td>
                <td>{{ producto._NotaMedia }}</td>
              </tr>
            </tbody>
          </table>
          <h5
            style="text-align: start; margin-top: 10px"
            *ngIf="listProductos.length == 0"
          >
            No hay productos para mostrar
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
