<mat-toolbar>
    <span class="titulos">Información sobre {{MiProducto._NombreProducto}}</span>
</mat-toolbar>

<div *ngFor="let item of MiProducto | keyvalue" style="background: #fcdbe6; color: #f15c8e; font-weight: bold; padding: 15px; border: 2px solid #fac9d9; border-radius: 6px;">
  <p>{{item.key}}: {{item.value}}</p>
</div>

<div style="background: #fcdbe6; color: #f15c8e; font-weight: bold; padding: 15px; border: 2px solid #fac9d9; border-radius: 6px;">
  <p>Precio Final: {{PrecioFinal}} €</p>
</div>
  <br><br>
<!--  <div *ngIf="ProductoEmpt !== undefined" style="background: #fcdbe6; color: #f15c8e; font-weight: bold; padding: 15px; border: 2px solid #fac9d9; border-radius: 6px;">
    <p>{{ProductoEmpt.todo()}}</p>
  </div>-->