<mat-toolbar>
    <span class="titulos">Información sobre {{MiProducto._NombreProducto}}</span>
</mat-toolbar>

<p>Id de {{MiProducto._NombreProducto}}: {{MiProducto._id}}</p>
<p>Categoría de {{MiProducto._NombreProducto}}: {{MiProducto._CategoriaProducto}}</p>
<p>Precio de {{MiProducto._NombreProducto}}: {{MiProducto._Precio}}</p>
<p>Nota Media de {{MiProducto._NombreProducto}}: {{MiProducto._NotaMedia}}</p>
<br><br>
{{MiProducto}}

<button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
    <mat-icon>plus_one</mat-icon>
  </button>