<!-- <mat-spinner diameter="45" class="spinner"></mat-spinner> -->
<div class="body mt-15">
  <div class="login">
    <form [formGroup]="form" (ngSubmit)="ingresar()">
      <img src="../../../assets/img/2922688.png" width="50%" />
      <h1>Login</h1>
      <mat-form-field class="tag" appearance="fill">
        <mat-label class="tag">Username</mat-label>
        <input matInput autocomplete="off" formControlName="usuario"/>
      </mat-form-field>
      <mat-form-field class="tag" appearance="fill">
        <mat-label class="tag">Password</mat-label>
        <input matInput autocomplete="off" formControlName="password"/>
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary" class="tag" [disabled]="form.invalid">Log in</button>
    </form>
  </div>
</div>

